Lens.VC.VC.opendb
Lens.VC.db
Lens/Release/Lens.log
Lens/Release/Lens.res
Lens/Release/Lens.tlog/CL.command.1.tlog
Lens/Release/Lens.tlog/CL.read.1.tlog
Lens/Release/Lens.tlog/CL.write.1.tlog
Lens/Release/Lens.tlog/FXC.command.1.tlog
Lens/Release/Lens.tlog/Lens.lastbuildstate
Lens/Release/Lens.tlog/Lens.write.1u.tlog
Lens/Release/Lens.tlog/fxc.read.1.tlog
Lens/Release/Lens.tlog/fxc.write.1.tlog
Lens/Release/Lens.tlog/link.command.1.tlog
Lens/Release/Lens.tlog/link.read.1.tlog
Lens/Release/Lens.tlog/link.write.1.tlog
Lens/Release/Lens.tlog/rc.command.1.tlog
Lens/Release/Lens.tlog/rc.read.1.tlog
Lens/Release/Lens.tlog/rc.write.1.tlog
Lens/Release/lens.obj
Lens/Release/vc140.pdb
Release/Lens.exe
Release/Lens.iobj
Release/Lens.ipdb
Release/Lens.pdb
Release/lens_PS.cso
Release/lens_VS.cso
Debug/Lens.exe
Debug/Lens.ilk
Debug/Lens.pdb
Debug/lens_PS.cso
Debug/lens_VS.cso
Lens/Debug/Lens.log
Lens/Debug/Lens.res
Lens/Debug/Lens.tlog/CL.command.1.tlog
Lens/Debug/Lens.tlog/CL.read.1.tlog
Lens/Debug/Lens.tlog/CL.write.1.tlog
Lens/Debug/Lens.tlog/FXC.command.1.tlog
Lens/Debug/Lens.tlog/Lens.lastbuildstate
Lens/Debug/Lens.tlog/Lens.write.1u.tlog
Lens/Debug/Lens.tlog/fxc.read.1.tlog
Lens/Debug/Lens.tlog/fxc.write.1.tlog
Lens/Debug/Lens.tlog/link.command.1.tlog
Lens/Debug/Lens.tlog/link.read.1.tlog
Lens/Debug/Lens.tlog/link.write.1.tlog
Lens/Debug/Lens.tlog/rc.command.1.tlog
Lens/Debug/Lens.tlog/rc.read.1.tlog
Lens/Debug/Lens.tlog/rc.write.1.tlog
Lens/Debug/lens.obj
Lens/Debug/vc140.idb
Lens/Debug/vc140.pdb
.vs/Lens/v14/.suo
Lens/x64/Release/Lens.log
Lens/x64/Release/Lens.res
Lens/x64/Release/Lens.tlog/CL.command.1.tlog
Lens/x64/Release/Lens.tlog/CL.read.1.tlog
Lens/x64/Release/Lens.tlog/CL.write.1.tlog
Lens/x64/Release/Lens.tlog/FXC.command.1.tlog
Lens/x64/Release/Lens.tlog/Lens.lastbuildstate
Lens/x64/Release/Lens.tlog/Lens.write.1u.tlog
Lens/x64/Release/Lens.tlog/fxc.read.1.tlog
Lens/x64/Release/Lens.tlog/fxc.write.1.tlog
Lens/x64/Release/Lens.tlog/link.command.1.tlog
Lens/x64/Release/Lens.tlog/link.read.1.tlog
Lens/x64/Release/Lens.tlog/link.write.1.tlog
Lens/x64/Release/Lens.tlog/rc.command.1.tlog
Lens/x64/Release/Lens.tlog/rc.read.1.tlog
Lens/x64/Release/Lens.tlog/rc.write.1.tlog
Lens/x64/Release/lens.obj
Lens/x64/Release/vc140.pdb
x64/Release/Lens.exe
x64/Release/Lens.iobj
x64/Release/Lens.ipdb
x64/Release/Lens.pdb
x64/Release/lens_PS.cso
x64/Release/lens_VS.cso
Lens/x64/Debug/Lens.log
Lens/x64/Debug/Lens.res
Lens/x64/Debug/Lens.tlog/CL.command.1.tlog
Lens/x64/Debug/Lens.tlog/CL.read.1.tlog
Lens/x64/Debug/Lens.tlog/CL.write.1.tlog
Lens/x64/Debug/Lens.tlog/FXC.command.1.tlog
Lens/x64/Debug/Lens.tlog/Lens.lastbuildstate
Lens/x64/Debug/Lens.tlog/Lens.write.1u.tlog
Lens/x64/Debug/Lens.tlog/fxc.read.1.tlog
Lens/x64/Debug/Lens.tlog/fxc.write.1.tlog
Lens/x64/Debug/Lens.tlog/link.command.1.tlog
Lens/x64/Debug/Lens.tlog/link.read.1.tlog
Lens/x64/Debug/Lens.tlog/link.write.1.tlog
Lens/x64/Debug/Lens.tlog/rc.command.1.tlog
Lens/x64/Debug/Lens.tlog/rc.read.1.tlog
Lens/x64/Debug/Lens.tlog/rc.write.1.tlog
Lens/x64/Debug/lens.obj
Lens/x64/Debug/vc140.pdb
x64/Debug/Lens.exe
x64/Debug/Lens.ilk
x64/Debug/Lens.pdb
x64/Debug/lens_PS.cso
x64/Debug/lens_VS.cso
